<% provide(:title,'Help Page') %>
<h1>Help Page</h1>
<p>
    This page is made as part of Ruby/Rails training
    (<a href="http://ruby.railstutorial.org/chapters/static-pages#code-help_content_spec">Listing 3.11</a>)
</p>
<p>Updated in 3.3.4 - remove duplication</p>
