<!DOCTYPE html>
<html>
    <head>
        <title>TrainingApp</title>
    </head>
    <body>
        <h1>Help Page</h1>
        <h1>This is my Home Page</h1>
        <p>This page is made as part of Ruby/Rails training (<a href="http://ruby.railstutorial.org/chapters/static-pages#code-home_page_passing">Listing 3.10</a>)</p>
        <p>Page layout been updated to fit paragraph 3.3.2</p>
    </body>
</html>
